<template>
  <div>
    <div style="width:100%;padding-top:56%;position:relative;display:inline-block;">
      <youtube 
        :player-vars="{rel:0,modestbranding:1}" 
        :video-id="video.id" 
        player-width="100%" 
        player-height="100%" 
        style="width:100%;height: 100%;position:absolute;left:0;top:0;overflow:hidden;" 
        @ended="onEnded" 
        @ready="ready" 
        @cued="cued"/>
    </div>
    <PlayList />
  </div>
</template>

<script>
//https://developers.google.com/youtube/player_parameters?playerVersion=HTML5
import { mapState, mapActions } from "vuex";
import PlayList from '../PlayList';

export default {
  components:{
    PlayList
  },
  data:function(){
    return {
      player:null
    };
  },
  computed: mapState({
    video: state => state.player.video,
    playList: state => state.player.playlist
  }),
  methods: {
    ready (event) {
      this.player = event.target;
    },
    cued (){
      this.player.playVideo();
    },
    ...mapActions('player', [
      'onEnded','changeVideo','removeVideo'
    ])
  }
};
</script>
