<template>
  <v-navigation-drawer
      v-model="drawerRight"
      right
      temporary
      fixed
    >
      <v-toolbar flat>
        <v-list>
          <v-list-tile>
            <v-list-tile-title class="title">
              Application
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-toolbar>

      <v-divider/>

      <v-list
        dense
        class="pt-0">
        <v-list-tile
          v-for="item in items"
          :key="item.title"
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  computed:{
    drawerRight: {
        get () {
          return this.$store.state.ux.drawer
        },
        set (val) {
          this.$store.commit('ux/setDrawer', val)
        }
      }
  },
  data: () => ({
    items: [
      { title: "Home", icon: "dashboard" },
      { title: "About", icon: "question_answer" }
    ]
  })
}
</script>

<style>

</style>
