<template>
  <div>
    <v-list three-line>
      <template v-for="video in searchResults">
        <v-list-tile
          :key="video.title"
        >
          <v-list-tile-content>
            <v-list-tile-title v-html="video.channel.title"/>
            <v-list-tile-sub-title v-html="video.title"/>
          </v-list-tile-content>
          <v-btn
            fab
            small
            @click="changeVideo(video)">
            <v-icon>play_arrow</v-icon>
          </v-btn>
          <v-btn
            fab
            small
            @click="addVideo(video)">
            <v-icon>add</v-icon>
          </v-btn>
        </v-list-tile>

      </template>
    </v-list>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  props: {
    name: {
      type: String,
      required: true
    }
  },
  computed: mapState({
    searchResults: state => state.youtube.searchResults
  }),
  created: function() {
    this.$store.dispatch("youtube/getAllVideos");
  },
  methods: mapActions('player', [
    'changeVideo','addVideo'
  ])
};
</script>
