<template>
  <div style="display:flex">
    <v-text-field
      :value="q"
      label="Solo"
      single-line
      solo
      @input="updateSearch"
      @keyup.enter="getAllVideos()"
    />
    <v-btn 
      fab 
      small 
      @click="getAllVideos()">
      <v-icon>search</v-icon>
    </v-btn>
  </div>
</template>


<script>
import { mapState, mapActions } from "vuex";

export default {
  computed: mapState({
    q: state => state.youtube.q
  }),
  methods:{
    updateSearch : function(e){
      this.$store.commit('youtube/updateSearch', e);
    },
    ...mapActions('youtube',['getAllVideos'])
  }
};
</script>
