<template>
  <div style="display:flex">
    <v-content>
      <v-container grid-list-xl>
        <v-layout
          row
          wrap>
          <v-flex xs6>
            <Player/>
          </v-flex>
          <v-flex xs6>
            <welcome-message name="World" />
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </div>
</template>

<script>
import WelcomeMessage from "../components/Home/WelcomeMessage";
import Player from "../components/Player";

export default {
  components: {
    WelcomeMessage,
    Player
  },
  methods: {
    onFailure: function(e, i ){
      console.log(e, i);
    },
    onSuccess: function(user){
      console.log(user);
    }
  }
};
</script>
