<template>
  <div>
    <v-btn 
      fab 
      small 
      @click="clearList()">
      <v-icon>clear</v-icon>
    </v-btn>
    <ul>
      <li 
        v-for="vid in playList" 
        :key="vid.id" 
        :class="vid === video ? 'reproducendo': ''">
        {{ vid.title }}
        <v-btn 
          fab 
          small 
          @click="changeVideo(vid)">
          <v-icon>play_arrow</v-icon>
        </v-btn>
        <v-btn 
          fab 
          small 
          @click="removeVideo(vid)">
          <v-icon>delete</v-icon>
        </v-btn>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  computed: mapState({
    video: state => state.player.video,
    playList: state => state.player.playlist
  }),
  methods : mapActions('player', [
    'changeVideo','removeVideo', 'clearList'
  ])
};
</script>

<style>

</style>
