<template>
  <v-app id="inspire">
    <v-toolbar
      color="blue-grey"
      dark
      fixed
      app
      clipped-right
    >
      <v-toolbar-title>Youplay</v-toolbar-title>
      <v-spacer/>
      <SearchBox />
      <v-toolbar-side-icon @click="toggleDrawer()"/>
    </v-toolbar>
    <Navigation />
    <router-view />
     <v-footer
      color="blue-grey"
      class="white--text"
      app>
      <span>youplay</span>
      <v-spacer/>
      <span>&copy; 2018</span>
    </v-footer>
  </v-app>
</template>

<style scoped>

.container{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 1200px;
}

</style>

<script>
import Navigation from './components/Navigation';
import SearchBox from './components/SearchBox';

import { mapActions } from "vuex";

export default {
  components: {
    Navigation,
    SearchBox
  },
  methods : mapActions('ux', [
    'toggleDrawer'
  ])
}
</script>
